{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1 class="display-3">Links</h1>
    <p class="lead">
        Link in bio.
    </p>
    <h4>
        developed by {{cv["developer"]}}
    </h4>

</div>

<ul class="list-group">
    {% for item in cv["links"] %}
        <li class="list-group-item text-center">
            <a href="{{item['url']}}" >{{item['name']}} </a>
            <span class="badge badge-pill badge-primary">{{age}}</span>
        </li>
    {% endfor %}
</ul>


{% endblock %}